body{
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Forig00.deviantart.net%2F9776%2Ff%2F2016%2F258%2F7%2F3%2Frick_and_morty_background_no_2_by_jurokoo-dahrufl.png&f=1&nofb=1');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lalezar', cursive;
  color: floralwhite;
}
